<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ddddd"
    android:versionCode="101"
    android:versionName="10.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.example.ddddd.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 需配置SDK版本 -->
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <!-- 插件 -->
    <uses-permission android:name="android.webkit.permission.PLUGIN" >
    </uses-permission>
    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>
    <!-- 短信读取 -->
    <uses-permission android:name="android.permission.READ_SMS" >
    </uses-permission>
    <!-- 修改读取 -->
    <uses-permission android:name="android.permission.WRITE_SMS" >
    </uses-permission>
    <!-- 短信获取 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>
    <!-- 包安装监听 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" >
    </uses-permission>
    <!-- 读取本地配置数据 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 监听WIFI样式 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 修改网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 监听网络状态变化 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <!-- 弹窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" >
    </uses-permission>
    <!-- 随机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <!-- 配置当前启动类,并设定屏幕转向 -->

    <application
        android:name="com.example.ddddd.MyApp"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.example.ddddd.activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ddddd.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <!--
             <activity
            android:name="com.example.ddddd.activity.MainActivity"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name="com.example.ddddd.activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ddddd.activity.VideoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.ddddd.activity.MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ddddd.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ddddd.activity.ProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ddddd.activity.VideoHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ddddd.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ddddd.activity.VideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ddddd.activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="com.example.ddddd.receiver.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d4385a67e58e9b530010db" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="lz2" />

        <!-- 支付 -->
        <!-- SDK　start -->
        <activity
            android:name="com.hft.juhepay.HftJuhePayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="com.heepay.plugin.activity.WeChatNotityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoDisplay" />
        <!-- SDK end -->
        <!-- APP_ID 商户配置 -->
        <meta-data
            android:name="HFT_APP_ID"
            android:value="2021" >
        </meta-data>
        <!-- APP_Key 商户配置 -->
        <meta-data
            android:name="HFT_APP_KEY"
            android:value="975511387ed74c00b73851c3c2dcac5c" >
        </meta-data>
        <!-- 支付end -->
    </application>

</manifest>